@page
@model PrivacyModel
@{
    ViewData["Title"] = "About";
}
<div class="m-2">
    <h1 class="display-5">@ViewData["Title"]</h1>
    <h3 class="lead">Welcome to RSS Hamster, THE place to view your RSS feeds</h3>

    <br />

    <div class="m-3">
        <h3 class="h-6">What is an RSS Feed?</h3>
        <div class="m-3">
            <blockquote cite="https://en.wikipedia.org/wiki/RSS" class="fs-6">
                RSS is a web feed that allows users and applications to access updates to websites in a standardized, computer-readable format. Subscribing to RSS feeds can allow a user to keep track of many different websites in a single news aggregator, which constantly monitor sites for new content, removing the need for the user to manually check them. News aggregators can be built into a browser, installed on a desktop computer, or installed on a mobile device. Websites usually use RSS feeds to publish frequently updated information, such as blog entries, news headlines, episodes of audio and video series, or for distributing podcasts. An RSS document includes full or summarized text, and metadata, like publishing date and author's name. RSS formats are specified using a generic XML file. Although RSS formats have evolved from as early as March 1999, it was between 2005 and 2006 when RSS gained widespread use, and the icon was decided upon by several major web browsers.
            </blockquote>
            <p class="blockquote-footer"><i> From Wikipedia</i></p>
        </div>
    </div>

    <div class="m-3">
        <h3 class="h-6">Motivation</h3>
        <div class="m-3">
            <p> The idea of this feed viewer came purely by coincidence. I was looking for a way to keep up to date
                with the internet without having to check 10 websites every day. I wanted to disconnect without missing out.
                And then I found out about RSS Feeds. By having all the feeds I'm interested in connected to my program, I thought
                I could manipulate them as I wish. Display them in my own minimalistic app, maybe even a custom device in my room, etc.
                At the same time I was required to start an Individual Project and I realized it's now or never. I took this opportunity
                to work with feeds and learn more about them.
            </p>
        </div>
    </div>

    <div class="m-3">
        <h3 class="h-6">Team</h3>
        <div class="m-3">
            <p> Just me I'm afraid. What do you think of the website?
                <br />I started coding around a year ago, feel free to let me know your opinion through the GitLab Repository linked in the footer.</p>
        </div>
    </div>
</div>
